/* CSS VARIABLES */

:root {

  --gridTemplate-Cols: repeat(1, 1fr);

  --flex-direction-about: column;
  --flex-direction-testimonial: column;
  --flex-direction-blog: column-reverse;
  --form-content-flex: column;
  --flex-direction-footer: column;

  /* CONTAINERS */
  
  --wrapper-maxWidth: 600px;
  --wrapper-maxHeight: auto;
  
  /* CARDS */

  --testimonial-card-width: 100%;
  --blog-card-width: 100%;
  
  /* UTILITIES */

  --navBar-largeScreen: none;
  --navBar-active: flex;
  --text-align-h2: justify;
  --button-maxWidth: 50%;
  --text-maxWidth: 500px;
  --border-radius: 10px;
  --border-radius-image-special: 10px 10px 0 0;
  --box-shadow-light: 0 0 5px 0 rgba(255, 255, 255, 0.3);
  --box-shadow-dark: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  /* COLORS */

  --bgColor-header: rgba(0, 47, 40, 0.95);
  --bgColor-body: rgba(240, 240, 240, 1);
  --bgColor-hero: rgba(0, 168, 144, 1);
  --bgColor-hero-overlay: rgba(0, 78, 67, 0.96);
  --bgColor-light: rgba(255, 255, 255, 1);
  --bgColor-grayscale01: rgba(230, 230, 230, 1);
  --bgColor-grayscale02: rgba(240, 240, 240, 1);

  --textColor-special: rgba(0, 168, 144, 1);
  --textColor-dark: rgba(30, 30, 30, 1);
  --textColor-light: rgba(255, 255, 255, 1);
  --textColor-grayscale: rgba(161, 161, 161, 1);
  --textColor-grayscale01: rgba(210, 210, 210, 1);

  /* TYPOGRAPHY */

  --fs-h1: clamp(3rem, 15vw, 4rem);
  --fs-h2: 2.5rem;
  --fs-h3: 1.4rem;
  --fs-h4: 0.9rem;
  --fs-p: 1rem;
  --fs-navLink: 1.4rem;
  --fs-link: 1rem;
  --fs-title-addOn: clamp(2.8rem, 15vw, 3.5rem);
  
  --fw-h1: 700;
  --fw-h2: 600;
  --fw-h3: 500;
  --fw-h4: 500;
  --fw-p: 400;
  --fw-navLink: 300;
  --fw-link: 400;
  --fw-title-addOn: 400;

  --line-height-text: clamp(1.5rem, 8vw, 2rem);

  /* SPACING */

  --header-padding-block: clamp(0.8rem, 5vw, 1.2rem);
  --section-padding-block: clamp(3.5rem, 15vw, 4rem);
  --section-padding-inline: 1.2rem;

  --bestseller-card-padding-block: 0 2rem;
  --blog-card-content-padding: 0.2rem clamp(1rem, 4vw, 2rem) 2rem;

  /* GAP */

  --hero-content-gap: clamp(2rem, 10vw, 4rem);
  --about-content-gap: clamp(2rem, 10vw, 3rem);

}

@media screen and (min-width: 768px) {
  :root {

    --gridTemplate-Cols: repeat(2, 1fr);

    --form-content-flex: row;
    --flex-direction-footer: row;
    --align-items-footer: center;
  
    /* CONTAINERS */
  
    --wrapper-maxWidth: 900px;
    --wrapper-maxHeight: 700px;

    /* CARDS */

    --about-card-maxWidth: 400px;
    --about-card-text-maxWidth: 550px;
    --testimonial-card-maxWidth: 500px;
    --blog-card-maxWidth: 500px;
    --card-align-special: flex-end;
  
    /* UTILITIES */

    --text-align-h2: normal;
    --button-maxWidth: 250px;
    --text-maxWidth: 600px;
  
    /* COLORS */
  
    /* TYPOGRAPHY */
  
    --fs-h1: 5rem;
    --fs-h2: 2.8rem;
    --fs-p: 1.25rem;
    --fs-slider-navLink: 1.8rem;
    --fs-link: 1.3rem;
    --fs-title-addOn: 4.5rem;

    --line-height-text: 1.8;
  
    /* SPACING */

    --header-padding-block: 1.5rem;
    --section-padding-block: clamp(4rem, 15vw, 6rem);
    --section-padding-inline: 3rem;
  
  }
  
}


@media screen and (min-width: 1080px) {
  :root {

    --gridTemplate-Cols: repeat(4, 1fr);

    --flex-direction-about: row;
    --flex-direction-testimonial: row;
    --flex-direction-blog: row-reverse;
  
    /* CONTAINERS */
  
    --wrapper-maxWidth: 1200px;
    --wrapper-maxHeight: 600px;

    /* CARDS */

    --about-card-maxWidth: 100%;
    --about-card-text-maxWidth: 100%;
    --card-align-special: normal;
  
    /* UTILITIES */

    --navBar-largeScreen: flex;
    --navBar-active: none;
    --about-flex-ratio-image: 0.40;
    --about-flex-ratio-content: 0.60;
    --text-maxWidth: 750px;

    --fs-navLink: 1.1rem;

    /* GAP */

    --hero-content-gap: clamp(2rem, 10vw, 3rem);
    --about-content-gap: clamp(2rem, 10vw, 3rem);
  
  }
  
}